// IMPORTANT SCSS FILES
@import "/src/assets/scss/components/variables";
@import "/src/assets/scss/components/mixins";

// coupons
.app-coupons__create-details,
.app-coupons__edit-details {
    padding-bottom: 90px;
    position: relative;
    
    .action-btns {
        border-radius: 0;
        position: fixed;
        bottom: 0;
        left: $appLeftBarWidthWhenShrunked;
        width: calc(100% - (#{$appLeftBarWidthWhenShrunked}));
        &.sidebar-expanded {
            left: $appLeftBarWidth;
            width: calc(100% - (#{$appLeftBarWidth}));
        }
        .app-card-content {
            padding: 10px 15px;
        }
    }
}
.app-coupons__edit-details {
    
}