// IMPORTANT SCSS FILES
@import "/src/assets/scss/components/variables";
@import "/src/assets/scss/components/mixins";

// USERS
.app-users__create-details,
.app-users__edit-details {
    padding-bottom: 90px;
    position: relative;
    .action-btns {
        border-radius: 0;
        position: fixed;
        bottom: 0;
        left: $appLeftBarWidthWhenShrunked;
        width: calc(100% - (#{$appLeftBarWidthWhenShrunked}));
        &.sidebar-expanded {
            left: $appLeftBarWidth;
            width: calc(100% - (#{$appLeftBarWidth}));
        }
        .app-card-content {
            padding: 10px 15px;
        }
    }
}
.app-users__edit-details {
}

// app user permissions
.app-user-permissions {
    .aup_lt {
        @include min_width($md-min) {
            width: 200px;
        }
        .inner {
        }
        .link {
            padding: 6px 10px;
            margin-bottom: 5px;
            border-radius: $common-border-radius;
            @include transition;

            &:hover,
            &.active {
                color: $primary-color !important;
                background-color: $bg__dashboard;
            }
            .icon {
                margin-right: 10px;
                margin-top: 4px;
            }
            span {
            }
        }
    }

    .aup_rt {
        table {
            tbody {
                .action {
                    border-left: 2px solid $bg__dashboard;
                }
            }
        }
    }
}
