@font-face {
    font-family: gilory-black;
    src: url("../../fonts/gilroy/Gilroy-Black.ttf") format("truetype");
}
@font-face {
    font-family: gilory-bold;
    src: url("../../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
    font-family: gilory-extrabold;
    src: url("../../fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: gilory-heavy;
    src: url("../../fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
}
@font-face {
    font-family: gilory-light;
    src: url("../../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
    font-family: gilory-medium;
    src: url("../../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
    font-family: gilory-regular;
    src: url("../../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
    font-family: gilory-semibold;
    src: url("../../fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: gilory-thin;
    src: url("../../fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
}
@font-face {
    font-family: gilory-ultralight;
    src: url("../../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
}

// FONTS: GILORY
.font-family-gilory-black {
    font-family: gilory-black;
}

.font-family-gilory-bold {
    font-family: gilory-bold;
}

.font-family-gilory-extrabold {
    font-family: gilory-extrabold;
}

.font-family-gilory-heavy {
    font-family: gilory-heavy;
}

.font-family-gilory-light {
    font-family: gilory-light;
}

.font-family-gilory-medium {
    font-family: gilory-medium;
}

.font-family-gilory-regular {
    font-family: gilory-regular;
}

.font-family-gilory-semibold {
    font-family: gilory-semibold;
}

.font-family-gilory-thin {
    font-family: gilory-thin;
}

.font-family-gilory-ultralight {
    font-family: gilory-ultralight;
}

// FONTS: Source Sans Pro
.font-family-source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
}
