// IMPORTANT SCSS FILES
@import "/src/assets/scss/components/variables";
@import "/src/assets/scss/components/mixins";

// categories
.app-products__create-product,
.app-products__edit-product {
    .product-form-container {
        margin-bottom: 150px;
        .pfc-left-bar {
            width: 180px;
            margin-left: -5px;
            margin-top: 4px;
            position: sticky;
            top: 5px;

            .lb-head {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 10px;
                margin-left: 5px;
                color: $text__dark-color;
            }
            .lb-link {
                display: block;
                text-decoration: none !important;
                padding: 1px 0 1px 5px;
                border-left: 2px solid transparent;
                margin-bottom: 10px;
                font-size: 16px;
                color: $text__light-color;
                @include transition;
                .icon {
                    margin-top: 4px;
                }
                &:hover,
                // &:active,
                // &:focus,
                &.active {
                    color: $primary-color;
                    border-color: $primary-color;
                }
                &.has-error {
                    color: $text__danger-color;
                    &:hover {
                        border-color: $text__danger-color;
                    }
                }
                &.no-error {
                    color: $text__success-color;
                    &:hover {
                        border-color: $text__success-color;
                    }
                }
            }
        }

        .pfc-content {
            padding-left: 15px;
        }
    }

    .action-btns {
        border-radius: 0;
        position: fixed;
        bottom: 0;
        left: $appLeftBarWidthWhenShrunked;
        width: calc(100% - (#{$appLeftBarWidthWhenShrunked}));
        &.sidebar-expanded {
            left: $appLeftBarWidth;
            width: calc(100% - (#{$appLeftBarWidth}));
        }
        .app-card-content {
            padding: 10px 15px;
        }
    }
}
.app-products__edit-product {
}
