/* HEADING STYLES */
.app-header-wrapper {
    .app-heading {
        font-size: 30px;
        font-weight: 600;
        color: $text__dark-color;
    }

    /* SIZES */
    // sm
    &.heading-sm {
        .app-heading {
            font-size: 20px;
            font-weight: 500;
        }
    }

    /* md */
    &.heading-md {
        .app-heading {
            font-size: 25px;
            font-weight: 500;
        }
    }
}
